name: Build and Push Docker Images

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          echo "IMAGE=ghcr.io/${{ github.repository_owner }}/wine" >> $GITHUB_ENV
          echo "VERSION=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: Set flag
        id: flag
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == "refs/heads/main" ||
                "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "with_push=true" >> $GITHUB_OUTPUT
          else
            echo "with_push=false" >> $GITHUB_OUTPUT
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        if: steps.flag.outputs.with_push == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ steps.flag.outputs.with_push == 'true' }}
          tags: |
            ${{ format('{0}:latest', env.IMAGE) }}
            ${{ format('{0}:{1}', env.IMAGE, env.VERSION) }}
